*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root{
    --primary-color: #F5CF06;
    --secundary-color:#8E4106;
    --space-default:70px;
}

body{
    height: 100vh;
    background-color:var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-top: var(--space-default);
    padding-bottom: 24px;
    font-family:'Righteous', cursive;
    
}
header{
    height: 48px;
    
}
.logo{
    margin-left: var(--space-default);
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: var(--secundary-color);
    font-size: 2rem;

}
main{
    flex-grow: 1;
    display: grid;
    margin-left: var(--space-default);
    margin-right: var(--space-default);
    grid-template-columns: repeat(12,1fr);
}
.title{
    grid-column: 1/-1;
    place-self: center;
    position: relative;

}
.title__text{
    font-size: 20vw;
    color:#FFFFFF;
}
.title__transparent{
    font-size: 27vw;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff5;
    z-index: -1;

}
.description{
    grid-column: 1/7;
    place-self: center start;
    color: #8E4106;

}
.description__title{
    font-size: 4rem;
}
.description__text{
    font-size: 1.25rem;
    width: 500px;
}
.action{
    grid-column: 7/-1;
    place-self: center end;
    height: 100px;
    width: 411px;
    background-color: #8E4106;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #FFFFFF;
    text-decoration: none;
}
.pikachu_image {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
footer{
    color: var(--secundary-color);
    text-align: center;

}

/* TABLE */
@media (max-width:960px){


    main{
        grid-template-columns: 1fr;
    }

    .title{
        place-self: start center;
    }
    .description{
        grid-column: 1;
        grid-row: 2;
        place-self: center;
        text-align: center;
    
    }
    .action{
        grid-column: 1;
        grid-row: 2;
        place-self: end center;
    }

    .pikachu_image {

        transform: translate(-50%,-60%);

    }

    footer{
        display: none;
    }

    :root{
    --space-default:30px;
    }

}

@media (max-width:640px){

.description__text{
    display: none;
}

.pikachu_image{

    width: 90vw;
    transform: translate(-50%,-50%);
}

.action{
    width: 100%;
}
.description__title{
    font-size: 10vw;
}

.title{
    transform: translateY(30%);
}

}