*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root{
    --primary-color: #F5CF06;
    --secundary-color:#8E4106;
    --space-default:70px;
}

body{
    height: 100vh;
    background-color:var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-top: var(--space-default);
    padding-bottom: 24px;
}
header{
    background-color:greenyellow;
    height: 48px;
    
}
main{
    background-color: red;
    flex-grow: 1;
}
footer{
    background-color: orange;
    

}